/*  Style.css by Doctor Snuggles */

/* Vars */
:root {
  --bgCol: #ADA;
  --transCol: transparent;
  --attCol: rgba(0,0,255,0.5);
}

/* Typography */
* {
  font-family: Arial, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: var(--bgCol);
  background: linear-gradient(45deg, #898 0%, #ADA 100%);
  width: 100vw;
  height: 100vh;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}
center {
  position: relative;
  top: calc(50vh - 60px);
  font-size: 5vw;
}
#d_opt {
  position: absolute;
  top: 0;
  right: calc(20vw + 10px);
}
#d_voice {
  position: absolute;
  top: 30px;
  right: calc(20vw + 10px);
}

/* Main content area */
main#app {
  position: fixed;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
button {
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  height: 25px;
  background-color: var(--bgCol);
  background: linear-gradient(135deg, #585 0%, #9F9 100%);
  border: 1px solid #000;
}
#dl {
  top: 35px;
}
#pl {
  top: 35px;
  right: calc(10vw + 5px);
}
input {
  border: 1px solid #000;
}
#err {
  color: #D00;
  font-weight: bold;
}

/* table */
table {
  width: 100%;
}
th {
  position: sticky;
  top: 0;
  background: linear-gradient(45deg, #898 0%, #ADA 100%);
}
tr {
  vertical-align: top;
}
table .spacer {
  background: linear-gradient(135deg, #585 0%, #9F9 100%);
}
td[onclick] {
  cursor: hand;
}

/* Formatting in SRT, bold and underline are easy to spot but i do hard with italic */
table b {
  background-color: #8D8;
}
table i {
  background-color: #DD8;
}
table u {
  background-color: #88D;
}

/* highlight spoken text */
.attract {
  -webkit-animation: attr 5s 1 alternate;
     -moz-animation: attr 5s 1 alternate;
      -ms-animation: attr 5s 1 alternate;
       -o-animation: attr 5s 1 alternate;
          animation: attr 5s 1 alternate;
}
/* Keyframes */
@-webkit-keyframes attr {
  from { background-color: var(--attCol)}
  to { background-color: var(--transCol)}
}
@-moz-keyframes attr {
  from { background-color: var(--attCol)}
  to { background-color: var(--transCol)}
}
@-ms-keyframes attr {
  from { background-color: var(--attCol)}
  to { background-color: var(--transCol)}
}
@-o-keyframes attr {
  from { background-color: var(--attCol)}
  to { background-color: var(--transCol)}
}
@keyframes attr {
  from { background-color: var(--attCol)}
  to { background-color: var(--transCol)}
}
