/*  Style.css by Doctor Snuggles */

/* Vars */
:root {
  --bgCol: #ADA;
}

/* Typography */
* {
  font-family: Arial, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: var(--bgCol);
  background: linear-gradient(45deg, #898 0%, #ADA 100%);
  width: 100vw;
  height: 100vh;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}
center {
  position: relative;
  top: calc(50vh - 60px);
  font-size: 5vw;
}

/* Main content area */
main#app {
  position: fixed;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: scroll;
}
button {
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  height: 60px;
  background-color: var(--bgCol);
  background: linear-gradient(135deg, #585 0%, #9F9 100%);
  border: 1px solid #000;
}
input {
  border: 1px solid #000;
}
#err {
  color: #D00;
  font-weight: bold;
}

/* table */
table {
  width: 100%;
}
th {
  position: sticky;
  top: 0;
  background: linear-gradient(45deg, #898 0%, #ADA 100%);
}
tr {
  vertical-align: top;
}

/* Formatting in SRT, bold and underline are easy to spot but i do hard with italic */
table b {
  background-color: #8D8;
}
table i {
  background-color: #DD8;
}
table u {
  background-color: #88D;
}
